name: Releases

on:
  push:
    branches:
      - main
    tags:
      - v[0-9]+.[0-9]+.[0-9]+
  pull_request:

jobs:
  releases:
    name: Build Release Files
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: ${{ github.event_name == 'push' }}
      matrix:
        include:
          - os: ubuntu-latest
            tag: linux
          - os: windows-latest
            tag: win
          - os: macos-15
            tag: macos-arm64
          - os: macos-15-intel
            tag: macos-intel
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-poetry-action
        with:
          without: test
          python-version: "3.13"
      - name: Run PyInstaller (linux/macos)
        if: matrix.tag != 'win'
        run: |
          poetry run pyinstaller scanner.spec
          cp ./config.sample.ini ./dist/config.ini
          cp ./README.md ./dist/README.md
          cp ./LICENSE ./dist/LICENSE
          ./dist/scanner -v
      - name: Run PyInstaller (win)
        if: matrix.tag == 'win'
        run: |
          poetry run pyinstaller scanner_win.spec
          cp ./config.sample.ini ./dist/scanner/config.ini
          cp ./README.md ./dist/scanner/README.md
          cp ./LICENSE ./dist/scanner/LICENSE
          ./dist/scanner/scanner -v
      - name: Make filename for archive
        id: filename
        shell: bash
        run: echo "FILENAME=scanner-${{ github.ref_name }}-${{ matrix.tag }}.zip" | sed -r 's,/,-,g' >> $GITHUB_OUTPUT
      - name: Zip files (linux/macos)
        if: matrix.tag != 'win'
        run: zip -j ./${{ steps.filename.outputs.FILENAME }} ./dist/*
      - name: Zip files (win)
        if: matrix.tag == 'win'
        run: Compress-Archive ./dist/scanner/* ./${{ steps.filename.outputs.FILENAME }}
      - name: Upload archive
        uses: actions/upload-artifact@v4
        with:
          name: releases-${{ matrix.tag }}-${{ github.sha }}
          path: ./${{ steps.filename.outputs.FILENAME }}
      - name: Add archive to release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          files: ./${{ steps.filename.outputs.FILENAME }}
